@page
@model RazorPageDemo.Pages.Students.IndexModel
@{
    ViewData["Title"] = "Student List";
}


<h1 class="mx-2">All Students</h1>
<br />
<a asp-page="Create" class="btn btn-success mx-2">
    Add new Student
</a>
<br />
<br />
<div class="mx-auto" style="width:90%">

    <table class="table table-bordered table-hover">
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>

            <th>
                Email
            </th>

            <th>
                Department
            </th>
            <th>
                Details
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
        </tr>


        @if (Model.students.Count() > 0)
        {
            @foreach (var std in Model.students)
            {
                <tr>
                    <td>
                        @std.Name
                    </td>

                    <td>
                        @std.Age
                    </td>

                    <td>
                        @std.Email
                    </td>
                    <td>
                        @std.Department.DeptName
                    </td>
                    <td>
                        <a class="btn btn-info" asp-page="Details" asp-route-id="@std.Id">Details</a>
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-controller="Student" asp-action="update" asp-route-id="@std.Id">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Student" asp-action="Delete" asp-route-id="@std.Id">Remove</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <td colspan="7" class="alert alert-danger">No Students Exists</td>
        }

    </table>
</div>